<h1>Favorites List</h1>
<% if @favorites_list.present? %>

  <% @favorites_list.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= attachment_image_tag post, :image %>
    <% end %>
    <p>Profile Image:<%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
    <p>Title:<%= post.title %></p>
    <P>Contents:<%= post.body %></P>
    <P>Name:<%= post.user.name %></P>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
    <p class="favorite_<%= post.id %>"><%= render 'favorites/favorite', post: post %></p>
  </div>
  <% end %>
<% else %>
  <p>お気に入りはありません</p>
<% end %>
<%= paginate @favorites_list %>