<h1 class="text-center pt-5">Favorites List</h1>
<div class="container container-m">
  <div class="card-deck">
    <% if @favorites_list.present? %>
      <% @favorites_list.each do |post| %>
        <div class="row">
          <div class="card m-4 shadow-lg">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, :fill, 360, 360 %>
            <% end %>
            <div class="card-body">
              <div class="card-title text-center">
                <%= link_to(post_path(post.id), class:"text-dark") do %>
                  <span style="color: #550000;"><strong><%= post.title %></strong></span>
                <% end %>
              </div>
              <%= attachment_image_tag post.user, :profile_image, :fill, 80, 80, fallback: "noimage.3.jpg", class:"mr-2 rounded-circle"; %>
              <span><%= post.user.name %></span>
              <div class="card-text pl-3 pt-2 d-flex">
                <div id="favorite_<%= post.id %>"><%= render 'favorites/favorite', post: post %></div>
                <%= link_to(post_path(post.id), class:"comment text-dark pl-2 pr-5") do %>
                  <div class="comments-count"><span style="color: #550000;"><i class="far fa-comment"></i> <%= post.comments.count %></span></div>
                <% end %>
                <%= post.created_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <strong><p div class="mx-auto" style="width: 200px;">" No Favorites "</p></strong>
    <% end %>
    <div class="d-flex align-items-end"><%= paginate @favorites_list %></div>
  </div>
</div>