<div class="container container-m">
<div class="card-deck">
  <% posts.each do |post| %>
    <div class="row">
      <div class="col-4">
      <div class="card w-75 mx-1 mt-4 shadow-lg">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 370, 370 %>
        <% end %>
        <div class="card-body w-50 mx-1 mt-4">
              <%= attachment_image_tag post.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
            <span><%= post.user.name %></span>
              <div class="card-title">
                <%= link_to(post_path(post.id), class:"text-dark") do %>
                  <strong><span style="color: #550000;"><%= post.title %></span></strong>
                <% end %>
              </div>
              <p class="card-text">
                <span class="favorite"><%= render 'favorites/favorite', post: post %></span>
                <%= link_to(post_path(post.id), class:"comment text-dark") do %>
                 <span style="color: #550000;">"コメント <%= post.comments.count %></span>
                <% end %>
              </p>

            </div>

          </div>
        </div>
      </div>
  <% end %>
  <%= paginate posts %>
  </div>
  </div>
