<h1>Post List</h1>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= attachment_image_tag post, :image %>
  <% end %>
  <p>Image:<%= image_tag('no_image.jpg') %></p>
  <p>Title:<%= post.title %></p>
  <P>Contents:<%= post.body %></P>
  <P>name:<%= post.user.name %></P>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  <p class="favorite_<%= post.id %>"><%= render 'favorites/favorite', post: post %></p>
</div>
<% end %>