<%= render 'layouts/errors', obj: @post %>

<h1>New Post</h1>

<%= form_with model: @post, local:true do |f| %>

  <%= attachment_image_tag @post, :image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <h4>Image</h4>
  <%= f.attachment_field :image %>
  <h4>Title</h4>
  <%= f.text_field :title, placeholder: "タイトルや店名など(1字以上20字以内)" %>
  <h4>Contents</h4>
  <%= f.text_area :body, placeholder: "ここに" %>
  <h4>Tag</h4>
  <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>

  <%= f.submit "Create" %>
<% end %>
