<h1 class="text-center pt-5">Favorite Ranking</h1>
  <!--ランキング画像をeach文で表示するための定義-->
  <% @rank_images_string = ['no.1.png','no.2.png','no.3.png']%>  <!--画像の配列を指定-->
  <% @i = 0%>  <!--配列は0から始まるためここで@iに0を代入。「i」はindexの意味で使われる-->
<div class="container container-m">
  <div class="row">
    <% @ranks.each do |post| %>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-0">
      <!--ランキング画像の表示-->
          <%= image_tag @rank_images_string[@i], :size =>'280x90', class:"ml-5" %>  <!--ここで定義した画像を順番に取ってくる-->
          <% @i+=1 %>    <!--これがないとずっと0のままになってしまうので+1を定義する-->
        <div class="card m-3 shadow-sm">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, :fill, 360, 360, width: "100%", height: "300" %>
          <% end %>
          <div class="card-body text-break">
            <div class="card-title text-center">
              <%= link_to(post_path(post.id), class:"text-dark") do %>
                <span style="color: #550000;"><strong style="word-wrap: break-word;"><%= post.title %></strong></span>
              <% end %>
            </div>
            <div class="card-text">
              <div class="row">
                <div class ="col-4 px-0">
                  <%= attachment_image_tag post.user, :profile_image, size: "80x80", fallback: "noimage.3.jpg", class:"mr-2 rounded-circle"; %>
                </div>
                <div class ="col-8 px-0" style="word-wrap: break-word;">
                  <%= post.user.name %>
                </div>
              </div>
            </div>
            <div class="card-text pl-3 pt-2 d-flex">
              <div id="favorite_<%= post.id %>"><%= render 'favorites/favorite', post: post %></div>
              <%= link_to(post_path(post.id), class:"comment text-dark pl-4 pr-5") do %>
                <div class="comments-count"><span style="color: #550000;"><i class="far fa-comment"></i> <%= post.comments.count %></span></div>
              <% end %>
              <%= post.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>