<!DOCTYPE html>
<html>
  <head>
    <title>SweetsRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/397c7483b2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"> <!--Sweets roomのフォントリンク-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> <!--サイト全体のフォントリンク-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100 ">
    <div class="fontname">
      <header >
        <nav class="shadow-sm navbar navbar-expand-lg navbar-light" style="background-color: #FFE4C4;">
          <div class="container">
            <a class="navbar-brand p-1" href="/"><%= image_tag 'cake.png', size: '80x80' %><span class="Sweetsroom">Sweets room</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span><p class="MENU">MENU</p>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <i class="fas fa-clipboard-list fa-lg m-2"></i>
                <% if user_signed_in? %> <!--devise側で用意しているヘルパー-->
                  <li class="nav-item">
                    <%= link_to "Ranking", post_ranks_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "PostsList", posts_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "NewPost", new_post_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "UsersList", users_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "MyPage", user_path(current_user.id), class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Top", root_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Signup", new_user_registration_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class:"nav-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <% if user_signed_in? %>
        <div class="form-inline w-100">
          <div class="mr-5 mt-2 w-100">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <div class="d-flex justify-content-end">  <!--右寄せにするための記述-->
                <div class="d-flex">
                  <%= f.select :model, options_for_select({ "User" => "user", "Post" => "post" }) %>
                  <%= f.text_field :content, class:"form-control ml-1",placeholder: "Search" %>
                  <%= button_tag type: 'submit', class: 'btn btn-sm btn-info' do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </header>
      <main class="mb-auto">
      <%= yield %>
      </main>
        <footer class="footer" style="background-color: #FFE4C4;">
          <div class='container mt-5'>
            <div class='row'>
              <div class='mx-auto'>
                <p class="pt-3">CopyRight 2021 Sweets room.inc</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
  </body>
</html>