<!DOCTYPE html>
<html>
  <head>
    <title>SweetsRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"> <!--Sweets roomのフォントリンク-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> <!--サイト全体のフォントリンク-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100 ">
    <div class="fontname">
      <header class="shadow-sm" style="background-color: #FFE4C4;">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand p-1" href="/"><%= image_tag 'cake.png', size: '80x80' %><span class="Sweetsroom">Sweets room</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span><p class="MENU">MENU</p>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %> <!--devise側で用意しているヘルパー-->
                  <li class="nav-item">
                    <%= link_to "Ranking", post_ranks_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Posts List", posts_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "New Post", new_post_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Users List", users_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "My Page", user_path(current_user.id) %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Top", root_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Sign up", new_user_registration_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Log in", new_user_session_path %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <% if user_signed_in? %>
          <div class="form-inline float-right pt-2 mr-5">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.select :model, options_for_select({ "User" => "user", "Post" => "post" }) %>
              <%= f.text_field :content, class:"form-control ",placeholder: "Search" %>
              <%= f.submit '検索', class:"btn btn-outline-success" %>
            <% end %>
          </div>
        <% end %>
      </header>
      <main class="mb-auto">
      <%= yield %>
      </main>
        <footer class="footer" style="background-color: #FFE4C4;">
          <div class='container mt-5'>
            <div class='row'>
              <div class='mx-auto'>
                <p class="pt-3">CopyRight 2021 Sweets room.inc</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
  </body>
</html>